*{
    /* padding: 2em; */
}
h1{
     text-align: center; 
     background-color: aqua;
     
}
.mona{
    /* padding: 0.2em;
    display: inline;
    background-color: aqua;
    width:50%;
    border: 2px dashed  red ;
    
     border-radius: 30%; */
}